/* Tree View */
.tree-view {
    -fx-accent:      #bfdcff;
    -fx-focus-color: #bfdcff;
}

.context-menu .menu-item {
    -fx-padding: 8px;
}

.context-menu .menu-item .label {
    -fx-padding: 0px 0px 0px 4px;
}

.context-menu .menu-item:focused,
.context-menu .menu-item:focused .label {
    -fx-background-color: #bfdcff;
    -fx-text-fill:        #000;
}

/* Drag drop */
.drag-drop-mid{
    -fx-background-color: lightgray ;
}

.drag-drop-low{
    -fx-effect: innershadow( one-pass-box , rgba(1,0,0,0.7) , 6, 0.5 , 2 , -6 );
}

.drag-drop-high{
    -fx-effect: innershadow( one-pass-box , rgba(0,1,0,0.7) , 6, 0.5 , 2 , 6 );
}